# Rename this file to: google-vision-api-key.txt
# Paste ONLY your API key on the next line (starts with AIza...)
# Get it from: https://console.cloud.google.com/apis/credentials
#
# AIzaSy................................
